{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What's My Crypto Worth? {% endblock %}</h1>

    <div>
        <h2>Add coins to search</h2>
        <form>
            <label for="itemInput">Coin Code (e.g., type "BTC" for Bitcoin): </label>
            <input type="text" id="itemInput" required />
            <br>
            <label for="coinValue">Amount You Hold (e.g., 0.001): </label>
            <input type="number" id="coinValue" required />
            <br>
            <button type="submit" onclick="addItem()">Add to list</button>
        </form>
        <ul id="itemList"></ul>
    </div>

    <div>
        <h2>Select date range</h2>
        <div>
          <label for="fromDate">From:</label>
          <input type="date" id="fromDate">
          <label for="toDate">To:</label>
          <input type="date" id="toDate">
        </div>
        <p id="selectedDates"></p>
    </div>

    <button id="run-button">Search</button> 

    <div class="value-tables">
        <h2>Results</h2>
        <div id="table-container">
        </div>
    </div>

    <div><button id="export-button">Export CSV</button></div>

    <script>
        const itemList = document.getElementById('itemList');
        const coinsArray = [];
  
        function addItem() {
          const itemInput = document.getElementById('itemInput');
          const itemText = itemInput.value.trim().toUpperCase();
          const amountInput = document.getElementById('coinValue');
          const amountValue = parseFloat(amountInput.value);
          const coin = {'name': itemText, 'value': amountValue};
  
          if (itemText !== '' && amountInput.value !== '') {
            const item = document.createElement('li');
            item.textContent = itemText + " " + amountValue;

  
            // Add event listener to select item when clicked
            item.addEventListener('click', () => {
              item.classList.toggle('selected');
            });
  
            // Add button to remove item
            const removeButton = document.createElement('button');
            removeButton.textContent = 'Remove';
            removeButton.addEventListener('click', () => {
                const index = coinsArray.findIndex(function (coin) {
                    return coin.name === itemText
                })
                if (index > -1) {
                coinsArray.splice(index, 1);
                }
                item.remove();

            });
            item.appendChild(removeButton);

            itemList.appendChild(item);
            itemInput.value = '';
            amountInput.value = '';
 
            coinsArray.push({'name':itemText,'value':amountValue});

          }
        }


        const runButton = document.getElementById('run-button'); 
        const tableContainer = document.getElementById('table-container');


        runButton.addEventListener('click', () => { 
                       
            const fromDate = document.getElementById("fromDate").value;
            const toDate = document.getElementById("toDate").value;

            console.log(coinsArray);

            const requestData = {
                fromDate: fromDate,
                toDate: toDate,
                coins: coinsArray,
            };
            fetch('/values', {
                method: 'POST',
                body: JSON.stringify(requestData),
                headers: {
                    'Content-Type': 'application/json'
                }
            }) 
            .then(response => response.text()) 
            .then(tableHtml => {
                //create table element
                const table = document.createElement('table');
                tableContainer.innerHTML = tableHtml;
                //add table to container
                tableContainer.appendChild(table);
            })

        }); 

        const exportButton = document.getElementById('export-button');
        exportButton.addEventListener('click', () =>{
            tableToCSV();
        });

        const today = new Date();
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        const maxDate = yesterday.toISOString().split('T')[0];
        const minDate = new Date('2013-04-28');
        const minDateString = minDate.toISOString().split('T')[0];
        document.getElementById("toDate").setAttribute("max", maxDate);
        document.getElementById("fromDate").setAttribute("max", maxDate);
        document.getElementById("toDate").setAttribute("min", minDateString);
        document.getElementById("fromDate").setAttribute("min", minDateString);
    </script> 

{% endblock %}

