{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What's My Crypto Worth? {% endblock %}</h1>

    <div>
        <h2>Add coins to search</h2>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="itemInput">Coin Code (e.g., type "BTC" for Bitcoin): </label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="itemInput" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="coinValue">Amount You Hold (e.g., 0.001): </label>
                <div class="col-sm-5">
                    <input class="form-control" type="number" id="coinValue" required />
                </div>
            </div>
            <button class="btn btn-dark" type="submit" onclick="addItem()">Add to list</button>

        </form>
        <div class="list-group d-inline-block" id="itemList">
            <ul id="itemList"></ul>
        </div>
    </div>



    <div>
        <h2>Select date range</h2>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label" for="fromDate">From:</label>
            <div class="col-sm-5">
                <input type="date" id="fromDate">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label" for="toDate">To:</label>
            <div class="col-sm-5">
                <input type="date" id="toDate">
            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="run-button">Search</button> 

    <div class="value-tables">
        <h2>Results</h2>
        <div class="table-responsive" id="table-container">
        </div>
        <!-- <div><button class="btn btn-success" id="export-button">Export CSV</button></div> -->
    </div>



    <script>
        const itemList = document.getElementById('itemList');
        const coinsArray = [];
  
        function addItem() {
          const itemInput = document.getElementById('itemInput');
          const itemText = itemInput.value.trim().toUpperCase();
          const amountInput = document.getElementById('coinValue');
          const amountValue = parseFloat(amountInput.value);
          const coin = {'name': itemText, 'value': amountValue};
  
          if (itemText !== '' && amountInput.value !== '') {
            const item = document.createElement('li');
            item.textContent = "Coin: " + itemText + ". Amount: " + amountValue + ". ";
            item.classList = 'list-group-item'

  
            // Add event listener to select item when clicked
            item.addEventListener('click', () => {
              item.classList.toggle('selected');
            });
  
            // Add button to remove item
            const removeButton = document.createElement('button');
            removeButton.classList = 'btn btn-danger';
            removeButton.textContent = 'Remove';
            removeButton.addEventListener('click', () => {
                const index = coinsArray.findIndex(function (coin) {
                    return coin.name === itemText
                })
                if (index > -1) {
                coinsArray.splice(index, 1);
                }
                item.remove();

            });
            item.appendChild(removeButton);

            itemList.appendChild(item);
            itemInput.value = '';
            amountInput.value = '';
 
            coinsArray.push({'name':itemText,'value':amountValue});

          }
        }


        const runButton = document.getElementById('run-button'); 
        const tableContainer = document.getElementById('table-container');


        runButton.addEventListener('click', () => { 
                       
            const fromDate = document.getElementById("fromDate");
            const toDate = document.getElementById("toDate");

            if (fromDate.value == "" || toDate.value == ""){
                alert("Please select dates to search!");
                return;
            }
            console.log(coinsArray);

            const requestData = {
                fromDate: fromDate.value,
                toDate: toDate.value,
                coins: coinsArray,
            };
            fetch('/values', {
                method: 'POST',
                body: JSON.stringify(requestData),
                headers: {
                    'Content-Type': 'application/json'
                }
            }) 
            .then(response => response.text()) 
            .then(tableHtml => {
                //create table element
                const table = document.createElement('table');
                table.classList = 'table table-striped';
                tableContainer.innerHTML = tableHtml;
                //add table to container
                tableContainer.appendChild(table);
                // Add button to export table
                const exportButton = document.createElement('button');
                exportButton.classList = 'btn btn-success';
                exportButton.textContent = 'Export CSV';
                exportButton.addEventListener('click', () =>{
                tableToCSV();
                });
                tableContainer.appendChild(exportButton);
            })           
        }); 


        const today = new Date();
        const yesterday = new Date(today);
        yesterday.setDate(today.getDate() - 1);
        const maxDate = yesterday.toISOString().split('T')[0];
        const minDate = new Date('2013-04-28');
        const minDateString = minDate.toISOString().split('T')[0];
        document.getElementById("toDate").setAttribute("max", maxDate);
        document.getElementById("fromDate").setAttribute("max", maxDate);
        document.getElementById("toDate").setAttribute("min", minDateString);
        document.getElementById("fromDate").setAttribute("min", minDateString);
    </script> 

{% endblock %}

